:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Libre Franklin', sans-serif;

    padding: 0 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 50px;

    margin-top: 4rem;
}

h1 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--very-dark-blue);

    margin: 2rem 0 1rem 0;
}

h1 span {
    font-weight: 300;
    color: var(--gray);
}

#dashboard-image {
    width: 100%;
    /* max-width: 500px; */
    margin: 2.5rem 0 4rem 0;
}

p {
    font-size: 0.7rem;
    color: var(--very-dark-blue);
    margin-bottom: 1.5rem;
}

div.form {
    margin-bottom: 2rem;
    width: 90%;
}

#form {
    display: flex;
    flex-direction: column;
}

#email {
    border: 1px solid var(--pale-blue);
    border-radius: 50px;
    outline: 0;
    color: var(--very-dark-blue);

    height: 2.5rem;
    padding: 0 2rem;
    margin-bottom: 0.8rem;
}

#email.error {
    border: 1px solid var(--light-red)
}

::-webkit-input-placeholder {
    color: var(--pale-blue);
}

button {
    border: 0;
    border-radius: 50px;
    outline: 0;
    height: 2.5rem;

    background: var(--blue);
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0.4rem 1rem 2px hsla(223, 87%, 63%, .3);

    cursor: pointer;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    opacity: 0.9;
}

small {
    margin-left: 2rem;
    display: none;
    
    font-size: 12px;
    color: var(--light-red);
    font-style: italic;
}

small.error {
    display: block;
}

.fab {
    color: var(--blue);
    margin-right: 12px;

    padding: 0.4rem;
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
}

.fab.fa-facebook-f {
    padding: 0.4rem 0.6rem;
}

#copyright {
    margin-top: 1rem;

    font-size: 0.7rem;
    color: var(--gray);
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        overflow: hidden;
        justify-content: center;
    }

    main {
        width: 50vw;
    }

    #form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #email {
        margin: 0 1rem 0 0;
        width: 70%;
    }

    button {
        width: 30%;
    }

    #dashboard-image {
        margin: 1rem 0;
    }
}

@media (min-width: 1024px) {
    main {
        width: 45vw
    }

    #dashboard-image {
        width: 70%;
    }
}

@media (min-width: 1360px) {
    main {
        width: 40vw;
    }

    #logo {
        margin-top: 2rem;
        width: 60px;
    }

    h1{
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
    }

    #email {
        height: 3rem;
    }

    button {
        height: 3rem;
        width: 35%;
    }

    #dashboard-image {
        width: 100%;
        margin-top: 1rem;
    }
}

@media (min-width: 1440px) {
    main {
        width: 40vw;
    }

    #logo {
        width: 70px;
    }

    h1{
        font-size: 2.8rem;
    }

    p {
        font-size: 20px;
    }
}